[project]
name = "coding-assistant"
version = "0.1.0"
description = "Coding Assistant is an advanced Python-based project designed to streamline and automate various coding tasks."
readme = "README.md"
authors = []
license = "MIT"
requires-python = ">=3.12"

dependencies = [
    "rich",
    "requests",
    "landlock",
    "pydantic",
    "debugpy",
    "prompt-toolkit",
    "fastmcp",
    "dacite>=1.9.2",
    "json5>=0.12.1",
    "httpx>=0.28.1",
    "httpx-sse>=0.4.3",
]

[dependency-groups]
dev = [
    "pytest",
    "pytest-asyncio",
    "pytest-xdist",
    "pytest-timeout",
    "mypy",
    "ruff",
    "types-requests",
]

[tool.uv.sources]

[tool.ruff]
line-length = 120

[tool.ruff.lint]
select = ["E", "F"]
ignore = ["E501"]

[project.scripts]
coding-assistant = "coding_assistant.main:main"
sandbox = "coding_assistant.sandbox:main"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.pytest.ini_options]
markers = [
    "slow: marks tests as slow",
]
addopts = "--ignore=packages/coding_assistant_mcp/src/coding_assistant_mcp/tests"
